.imageBox{
    overflow: hidden;
    width: auto;
    margin: auto;
    max-height: 90px;
    max-width: 728px;
}
.imageBox img{
    object-fit: contain;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
}
.imageBox h2{
    position: absolute;
    margin: 15px;
    margin-top: 10px;
    color: #212121;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}