<div class="imageBox">
  <a *ngIf="server.uid" [routerLink]="['../server', {uid: server.uid}]">
    <img class="logo" mdCardImage src={{server.logoURL}}>
    <h2>{{server.title}}</h2>
   
  </a>
  <a *ngIf="!server.uid"> 
    <img class="logo" mdCardImage src={{server.logoURL}}>
    <h2>{{server.title}}</h2>
  </a>
</div>
<!-- <a [routerLink]="['../server', {uid: server.uid}]">
  <table class="imageBox">
    <tr>
      <td>
      </td>
      <td rowspan=2>
        <h2>{{server.title}}</h2>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <img src={{server.logoURL}}>
      </td>
    </tr>
  </table>
</a> -->

<!-- <a [routerLink]="['../server', {uid: server.uid}]"
  class="imageBox" style="background-image: url('{{server.logoURL}}');">
  <h2>{{server.title}}</h2>

</a> -->