<md-list-item>
  <md-card color="accent">
    <md-card-content>
      <div class="container">
        <div class="titleBox">
          <h3>{{server.serverName}}</h3>
          <h3 *ngIf="!server.serverName">創世神伺服器</h3>
        </div>
        <div class="imageBox">
          <a [routerLink]="['../server', {uid: server.uid}]">
            <h2>{{server.title}}</h2>
            <img class="logo" mdCardImage src={{server.logoURL}}>
          </a>
        </div>
        <div class="pingBox">
          <i class="fa fa-signal" aria-hidden="true"></i>
          <p>{{ping}}</p>
        </div>
        <div>
          <i class="fa fa-gamepad" aria-hidden="true"></i>
          <p>{{ server.currentPlayer
            + '/'+ server.maxPlayer}}</p>
        </div>
      </div>
    </md-card-content>
    <md-card-footer class="footer">
      <div class="ip">
        <app-copy-string-area [string]="server.IP"></app-copy-string-area>
        <span *ngIf="server.port && server.port !== 25565">:{{server.port}}</span>

      </div>

      <div class="spacer"></div>
      <div class="onlineMode">
        <app-online-mode-display [onlineMode]="server.onlineMode"></app-online-mode-display>
      </div>


    </md-card-footer>
  </md-card>
</md-list-item>