<md-list-item>
  <md-card color="accent">
    <md-card-content>
      <div class="container">
        <div class="titleBox">
          <h3>{{server.serverName}}</h3>
        </div>
        <app-banner class="imageBox" [server]="server">
        </app-banner>
        <div class="rightBox">
          <app-server-detail [server]="server"></app-server-detail>
        </div>

      </div>
    </md-card-content>
    <div class="footer">
      <div class="ip">
        <app-copy-string-area *ngIf="!(server.port && server.port !== 25565)"
          [string]="server.IP"></app-copy-string-area>
        <app-copy-string-area *ngIf="server.port && server.port !== 25565"
          [string]="server.IP + ':' + server.port"></app-copy-string-area>

      </div>

      <div class="spacer">
        <md-chip-list>
          <md-chip *ngFor="let tag of server.tags"
            [selected]=true>
            {{tag}}
          </md-chip>
        </md-chip-list>
      </div>
      <div class="onlineMode">
        <app-online-mode-display [onlineMode]="server.onlineModeEnabled"></app-online-mode-display>
      </div>
    </div>
  </md-card>
</md-list-item>