<md-list-item>
  <md-card color="accent">
    <md-card-content>
      <div class="container">
        <div class="titleBox">
          <h3>{{server.serverName}}</h3>
          <p>{{server.IP}}</p>
        </div>
        <div class="imageBox">
          <a [routerLink]="['../server', {uid: server.uid}]">
          <img mdCardImage src={{server.logoURL}}>
          </a>
        </div>
        <div class="pingBox">
          <p>{{ping}}</p>
        </div>
      </div>
    </md-card-content>
  </md-card>
</md-list-item>