<div class="container">
  <md-card>
    <md-card-header>
      <md-card-title>登入</md-card-title>
    </md-card-header>
    <md-card-content>
      <form *ngIf="useEmailLogin" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <md-input-container floatPlaceholder="auto">
          <input mdInput formControlName="username" type="email" required placeholder="Email">
          <md-error>請輸入Email</md-error>
        </md-input-container>
        <md-input-container floatPlaceholder="auto">
          <input mdInput formControlName="password" type="password" required placeholder="密碼">
          <md-error>請輸入密碼</md-error>
        </md-input-container>
        <md-card-actions align="end">
          <button md-button [disabled]="!formGroup.valid">Login</button>
        </md-card-actions>
      </form>
      <button class="googleButton" md-button (click)="siginWithGoogle()">Google</button>
    </md-card-content>

  </md-card>
</div>