<div class="container">
  <md-card>
    <md-card-header>
      <md-card-title>新增伺服器</md-card-title>
      <md-card-subtitle>請輸您的伺服器資料</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <md-input-container floatPlaceholder="auto">
          <input mdInput formControlName="serverName" type="text" required placeholder="伺服器名稱">
          <md-error>請輸入伺服器名稱</md-error>
        </md-input-container>
        <md-input-container floatPlaceholder="auto">
          <input mdInput formControlName="serverIP" type="text" required placeholder="IP">
          <md-error>請輸入IP</md-error>
        </md-input-container>

        <md-checkbox formControlName="onlineMode">有開啟正版認證</md-checkbox>
        <br><label>伺服器Logo</label>
        <file-drop *ngIf="!this.imageFile" headertext="將伺服器Logo拉至此欄位" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)"></file-drop>
        <div *ngIf="this.imageFile" class="imageContainer">
          <div>
            <img src="{{this.imageFile}}" alt="">
          </div>
        </div>

        <md-select formControlName="tags" placeholder="">
          <md-option *ngFor="let tag of selectableTags" [value]="choice">
            tag
          </md-option>
        </md-select>

        <quill-editor class="form-control" formControlName="description">伺服器簡介</quill-editor>

        <md-card-actions align="end">
          <button md-raised-button color="primary" [disabled]="!formGroup.valid && description">確認</button>
        </md-card-actions>
      </form>
    </md-card-content>
  </md-card>
</div>