<md-list-item *ngIf="server">
  <md-card color="accent">
    <md-card-header class="header">
      <div class="left">
        <md-card-title class='title'>{{server.serverName}}</md-card-title>
        <md-card-subtitle>
          {{server.IP}}
        </md-card-subtitle>
      </div>
      <div>

      </div>
      <div class="right">
        <app-server-detail [server]="server"
          class="detail"></app-server-detail>
        <app-online-mode-display [onlineMode]="server.onlineModeEnabled"
          class="onlineMode"></app-online-mode-display>

        <button (click)="onClickVote()"
          class="likeButton" md-button
          color="accent">
          
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          讚!</button>
      </div>
    </md-card-header>
    <app-banner [server]="server"></app-banner>
    <md-card-content>

    </md-card-content>
    <app-text-viewer class="description"
      [(text)]="server.description"></app-text-viewer>
    <md-card-actions align="end">
      <button *ngIf="canEdit()" md-raised-button
        color="accent" (click)="onClickLink()"><i class="fa fa-link" aria-hidden="true"></i> 與伺服器連結
    </button>
      <button *ngIf="canEdit()" md-raised-button
        color="primary" [routerLink]="['../myServers/editServer', {uid: server.uid}]">
        <i class="fa fa-pencil" aria-hidden="true"></i> 編輯</button>

    </md-card-actions>

  </md-card>
</md-list-item>