.footer {
    font-size: 14px;
}
.title{
    font-size: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.left{
    align-self: flex-start;
    flex: 1;
}
.right{
    flex: 1;
    flex-direction: row;
    display: flex;
}
.likeButton{
    flex: 1;
    height: 30px;
    align-self: center;
}
.onlineMode{
    flex: 4;
    align-self: center;
}
.detail{
    flex: 6;
    align-self: center;
}