.footer {
    font-size: 14px;
}
.title{
    font-size: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.left{
    align-self: flex-start;
    flex: 1;
}
.right{
    align-self: flex-start;
    flex: 1;
}
.likeButton{
    float: right;
    margin: auto;
    color: blue;
}